@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    color: #fff;
    background: linear-gradient(to bottom,#02534f,rgb(0, 0, 0));
    padding: 0px;
    
    margin:0px;
    overflow-x: hidden;
    
}


header{
    margin:0;
}

nav{
    display: flex;
    height: 50%;
    
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-family: Poppins;
}
.navbar-content{
    display: flex;
    align-items: center;
    color: #000;
    text-align: center;
    margin-top: 0px;
    gap: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 15px; 
  }
.get-started{
    border-radius: 10px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    background: #009379;
}

.get-started:hover{
    transform: scale(1.1);
}

.howitworks{
    display: flex;
    height: 50px;
    padding: 16px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
main{
    position: static;
    bottom: 0;
    padding:75px 10px ;
}

.get-started>span{
    color: #000;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 150% */
}
/* main */
.button-1{  
    
    border-radius: 20px;
    border:hidden;
    padding: 16px 50px;
    background: #009379;
    
    
}
.button-1:hover{
    transform: scale(1.1);
    background: #009379;
    box-shadow: #fff;
    
    
}
.button-2{
    background-color: #FFF;
    border-radius: 20px;
    border:hidden;
    padding: 16px 50px;
    color: #009379;
    
}
.button-2:hover{
    transform: scale(1.1);
    background-color: #FFF;
    color: #fff;
    
}
.button-c1{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.button-c2{
    
    text-decoration: none;
    color:#000
}
.button-c1:hover{
    text-decoration: none;
    color:#FFF;
}
.button-c2:hover{
    text-decoration: none;
    color: #009379;
    
}

@font-face {
    font-family: "myFirstFont";
    src: url("Asset\\zero_prime\\zeroprime.ttf");
}

.main-title{
    color: #FFF;
    font-family: 'myFirstFont';
    font-size: 67px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -1.675px;
}
.typing-effect{
    margin-top: 20px;
    font-family: 'poppins';
    font-weight: bold; 
    font-size: 22px;
    line-height: 150%;
}
.main-para{
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 150%;
}
.main-img{
    margin-left:0;

} 
#whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;   
}
.whatsapp{
    position: fixed;
    bottom:0;
    right: 0;
    left:74%;
    z-index: 1;
    
}
.whatsapp-img{
    width:30px;
    height: 30px;
    
}
.whatsapp-text{
    text-decoration: none;
    color: #000;
}

.whatsapp-dot{
    font-size: 40px;
}
.whatsapp_hoever{
    display: inline;
    border-radius:5px;
    color: #000;
    background-color: rgb(248, 248, 248);
    padding: 3px 2px;
    text-decoration: none;
}
.whatsapp_hoever:hover{
    
    color:#000;
}

.whatsapp_remover{
    display: none;
}
.button-hover{
    background-color: #fff;
    color: #000;
    border:1px solid seashell;
    padding: 2px 5px;
    border-radius: 5px;
}
.whatsapp-link{
    text-decoration: none;
    color: #000;
}
/*feature*/
.card-link{
    color: #009379;
    text-decoration: none;

}
.card-link:hover{
    text-decoration: none;
}
.custom-card{
    border-radius: 20px;
    padding: 30px 20px;
    margin-bottom: 80px;
}
.custom-card:hover{
    transform: scale(1.06);

}
/* feedback */
.custom-card{
    color: #000;
}


/* contact us */
.contact-img{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.contat-us{
    border-radius: 20px;
    color: #000;
    padding: 30px;

}
/* .contat-us:hover{
    transform: scale(1.08);
} */
.contact-form{
    margin: 40px ;
}
.astric{
    color: red;
}
.form-submit{
    background-color: #009379;
   box-shadow: none;
   border-radius: 10px;
   padding: 8px 20px;
   color: #FFF;

}
.form-submit:hover{
    transform: scale(1.08);

}


#lastsection{
    margin-top: 250px;
}

/* ANIMATION */
/* .fade-in {
    opacity: 0;
    animation: fadeInAnimation1 ease 2s forwards;
}

@keyframes fadeInAnimation1 {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} */
.fade-in {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateX(-100%);
}

.fade-in.visible {
    opacity: 1;
    transform: translateX(0);
}

section .animate{
    transition: 1s;
}
.sec-1 .animate{
    transform: translateX(-120%);
}
.sec-1.show-animate .animate{
    transform: translateX(0);
}
.sec-2 .animate{
    transform:translateX(120%)
}
.sec-2.show-animate .animate{
    transform: translateX(80);
}
.sec-3 .animate{
    transform: translateY(-10%);
}
.sec-3.show-animate .animate{
    transform: translateY(0);
}
.sec-4 .animate{
    transform: translateY(5%);
}
.sec-4.show-animate .animate{
    transform: translateY(0%);
}
.sec-5 .animate{
    transform: translateX(-100%);
}
.sec-5.show-animate .animate{
    transform: translatex(0%);
}
.sec-6 .animate{
    transform: translateX(130%);
}
.sec-6.show-animate .animate{
    transform: translateX(80%);
}